<div class="container-fluid home">
  <section class="row">
    <div class="col-md-6">
      <h3>Venue</h3>
      <table>
        <thead>
          <tr>
            <th>venue_id</th>
            <th>venue_descr</th>
          </tr>
        </thead>
        <tbody ng-repeat="venue in homeVm.venues track by $index">
          <tr>
            <td>
              <input type="text" class="form-control" ng-model="venue.venue_id" ng-disabled ="homeVm.venueDisabled">
            </td>
            <td>
              <input type="text" class="form-control" ng-model="venue.venue_descr" ng-disabled ="homeVm.venueDisabled">
            </td>
          </tr>
        </tbody>
      </table>
      <span class="btn btn-primary btn-add" ng-click="homeVm.addVenue()">Add Venue</span>
      <span class="btn btn-primary btn-add" ng-click="homeVm.venueSubmit()">Submit</span>
    </div>
    <div class="col-md-6">
      <h3>Venue Config</h3>
      <table>
        <thead>
          <tr>
            <th>venue_id</th>
            <th>config_descr</th>
          </tr>
        </thead>
        <tbody ng-repeat="config in homeVm.venueConfig track by $index">
          <tr>
            <td>
              <select ng-model="config.venue_id" ng-disabled ="homeVm.venueConfigDisabled">
                <option value="">Select Venue</option>
                <option ng-repeat="venue in homeVm.venues" value="{{venue.venue_descr}}">{{venue.venue_descr}}</option>
              </select>
            </td>
            <td>
              <input type="text" class="form-control" ng-model="config.config_descr" ng-disabled ="homeVm.venueConfigDisabled">
            </td>
          </tr>
        </tbody>
      </table>
      <span class="btn btn-primary btn-add" ng-click="homeVm.addConfigVenue()">Add Venue config</span>
      <span class="btn btn-primary btn-add" ng-click="homeVm.venueConfigSubmit()">Submit</span>
    </div>
  </section>
  <section class="row">
    <div class="col-md-6">
      <h3>Zone</h3>
      <table>
        <thead>
          <tr>
            <th>zone_descr</th>
            <th>venue_config_id</th>
          </tr>
        </thead>
        <tbody ng-repeat="zone in homeVm.zones track by $index">
          <tr>
            <td>
              <input type="text" class="form-control" ng-model="zone.zone_descr" ng-disabled ="homeVm.zoneDisabled">
            </td>
            <td>
              <!-- <input type="text" class="form-control"> -->
              <select ng-model="zone.venue_config_id" ng-disabled ="homeVm.zoneDisabled">
                <option value="">Select Venue Config Id for</option>
                <option ng-repeat="venue in homeVm.venueConfig" value="{{venue.venue_id}},{{venue.config_descr}}">
                  {{venue.venue_id}},{{venue.config_descr}}
                </option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <span class="btn btn-primary btn-add" ng-click="homeVm.addZone()">Add Zone</span>
      <span class="btn btn-primary btn-add" ng-click="homeVm.zoneSubmit()">Submit</span>
    </div>
    <div class="col-md-6">
      <h3>Level</h3>
      <table>
        <thead>
          <tr>
            <th>level_descr</th>
            <th>venue_config_id</th>
          </tr>
        </thead>
        <tbody ng-repeat="level in homeVm.levels track by $index">
          <tr>
            <td>
              <input type="text" class="form-control" ng-model="level.level_descr" ng-disabled ="homeVm.levelDisabled">
            </td>
            <td>
              <!-- <input type="text" class="form-control"> -->
              <select ng-model="level.venue_config_id" ng-disabled ="homeVm.levelDisabled">
                <option value="">Select Venue Config Id for</option>
                <option ng-repeat="venue in homeVm.venueConfig" value="{{venue.venue_id}},{{venue.config_descr}}">
                  {{venue.venue_id}},{{venue.config_descr}}
                </option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <span class="btn btn-primary btn-add" ng-click="homeVm.addLevel()">Add Level</span>
      <span class="btn btn-primary btn-add" ng-click="homeVm.levelSubmit()">Submit</span>
    </div>
  </section>
  <section class="row">

    <div class="col-md-6">
      <h3>Row</h3>
      <input type="checkbox" ng-model="homeVm.rowMulti"> multi value (level_id, venue_config_id)
      <div ng-if="homeVm.rowMulti">
        <select ng-model="homeVm.multi1" ng-disabled ="homeVm.rowDisabled">
          <option value="">Select Level Id for</option>
          <option ng-repeat="level in homeVm.levels" value="{{level.level_descr}}">
            {{level.level_descr}}
          </option>
        </select>
        <select ng-model="homeVm.multi" ng-disabled ="homeVm.rowDisabled">
          <option value="">Venue Config Id for</option>
          <option ng-repeat="venue in homeVm.venueConfig" value="{{venue.venue_id}},{{venue.config_descr}}">
            {{venue.venue_id}},{{venue.config_descr}}
          </option>
        </select>
      </div>
      <hr>
      <ng-csv-import content="homeVm.csv"
      	material
      	separator="homeVm.seperator"
      	result="homeVm.result" ng-class="{'toggle': homeVm.rowMulti}">
  	  </ng-csv-import>
      <table>
        <thead>
          <tr>
            <th>row_descr</th>
            <th>row_seq_num</th>
            <th>level_id</th>
          </tr>
        </thead>
        <tbody ng-repeat="row in homeVm.rows track by $index">
          <tr>
            <td>
              <input type="text" class="form-control" ng-model="row.row_descr" ng-disabled ="homeVm.rowDisabled">
            </td>
            <td>
              <input type="text" class="form-control" ng-model="row.row_seq_num" ng-disabled ="homeVm.rowDisabled">
            </td>
            <td>
              <select ng-model="row.level_id" ng-disabled ="homeVm.rowDisabled">
                <option value="">Select Level Id for</option>
                <option ng-repeat="level in homeVm.levels" value="{{level.level_descr}}">
                  {{level.level_descr}}
                </option>
              </select>
              <select ng-model="row.level_id_plus" ng-disabled ="homeVm.rowDisabled">
                <option value="">Venue Config Id for</option>
                <option ng-repeat="venue in homeVm.venueConfig" value="{{venue.venue_id}},{{venue.config_descr}}">
                  {{venue.venue_id}},{{venue.config_descr}}
                </option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <span class="btn btn-primary btn-add" ng-click="homeVm.addRow()">Add Row</span>
      <span class="btn btn-primary btn-add" ng-click="homeVm.rowSubmit()">Submit</span>
    </div>
    <div class="col-md-6">
      <h3>Zone Section</h3>
      <table>
        <thead>
          <tr>
            <th>section_desc</th>
            <th>zone_id</th>
            <th>level_id</th>
          </tr>
        </thead>
        <tbody ng-repeat="section in homeVm.sections track by $index">
          <tr>
            <td>
              <input type="text" class="form-control" ng-model="section.section_desc" ng-disabled ="homeVm.zoneSectionDisabled">
            </td>
            <td>
              <select ng-model="section.zone_descr" ng-disabled ="homeVm.zoneSectionDisabled">
                <option value="">Select Zone Id for</option>
                <option ng-repeat="zone in homeVm.zones" value="{{zone.zone_descr}}">
                  {{zone.zone_descr}}
                </option>
              </select>
              <select ng-model="section.zone_plus" ng-disabled ="homeVm.zoneSectionDisabled">
                <option value="">Venue Config Id for</option>
                <option ng-repeat="venue in homeVm.venueConfig" value="{{venue.venue_id}},{{venue.config_descr}}">
                  {{venue.venue_id}},{{venue.config_descr}}
                </option>
              </select>
            </td>
            <td>
              <!-- <input type="text" class="form-control"> -->
              <select ng-model="section.level_descr" ng-disabled ="homeVm.zoneSectionDisabled">
                <option value="">Select Level Id for</option>
                <option ng-repeat="level in homeVm.levels" value="{{level.level_descr}}">
                  {{level.level_descr}}
                </option>
              </select>
              <!-- <select ng-model="section.level_id_plus" ng-disabled ="homeVm.zoneSectionDisabled">
                <option value="">Venue Config Id for</option>
                <option ng-repeat="venue in homeVm.venueConfig" value="{{venue.venue_id}},{{venue.config_descr}}">
                  {{venue.venue_id}},{{venue.config_descr}}
                </option>
              </select> -->
            </td>
          </tr>
        </tbody>
      </table>
      <span class="btn btn-primary btn-add" ng-click="homeVm.addZoneSection()">Add Section</span>
      <span class="btn btn-primary btn-add" ng-click="homeVm.zoneSectionSubmit()">Submit</span>
    </div>
  </section>
  <!-- <section class="row">
    <div class="col-md-6">
      <h3>Event</h3>
      <table>
        <thead>
          <tr>
            <th>event_descr</th>
            <th>event_date</th>
            <th>venue_config_id</th>
          </tr>
        </thead>
        <tbody>
          <td>
            <input type="text" class="form-control">
          </td>
          <td>
            <input type="date" class="form-control">
          </td>
          <td>
            <input type="text" class="form-control">
          </td>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h3>Zone Event</h3>
      <table>
        <thead>
          <tr>
            <th>event_id</th>
            <th>zone_id</th>
            <th>qty_to_broadcast</th>
            <th>zone_base_price</th>
          </tr>
        </thead>
        <tbody ng-repeat="eve in homeVm.zoneEvents track by $index">
          <td>
            <input type="text" class="form-control" ng-model="eve.event_id">
          </td>
          <td>
            <input type="text" class="form-control" ng-model="eve.zone_id">
          </td>
          <td>
            <input type="text" class="form-control" ng-model="eve.qty_to_broadcast">
          </td>
          <td>
            <input type="text" class="form-control" ng-model="eve.zone_base_price">
          </td>
        </tbody>
      </table>
      <span class="btn btn-primary btn-add" ng-click="homeVm.addZoneEvent()">Add Section</span>
      <span class="btn btn-primary btn-add" ng-click="homeVm.zoneEventSubmit()">Submit</span>
    </div>
  </section>
  <section class="row">
    <div class="col-md-6">
      <h3>Section Event</h3>
      <table>
        <thead>
          <tr>
            <th>section_id</th>
            <th>event_id</th>
            <th>section_price_offset_pct</th>
            <th>venue_config_id</th>
          </tr>
        </thead>
        <tbody ng-repeat="section in homeVm.sectionEvents track by $index">
          <td>
            <input type="text" class="form-control" ng-model="section.section_id">
          </td>
          <td>
            <input type="text" class="form-control" ng-model="section.event_id">
          </td>
          <td>
            <input type="text" class="form-control" ng-model="section.section_price_offset_pct">
          </td>
          <td>
            <input type="text" class="form-control" ng-model="section.venue_config_id">
          </td>
        </tbody>
      </table>
      <span class="btn btn-primary btn-add" ng-click="homeVm.addSectionEvent()">Add Section</span>
      <span class="btn btn-primary btn-add" ng-click="homeVm.sectionEventSubmit()">Submit</span>
    </div>
    <div class="col-md-6">
      <h3>Row Event</h3>
      <table>
        <thead>
          <tr>
            <th>row_id</th>
            <th>event_id</th>
            <th>row_price_offset_pct</th>
          </tr>
        </thead>
        <tbody ng-repeat="row in homeVm.rowEvents track by $index">
          <td>
            <input type="text" class="form-control" ng-model="row.row_id">
          </td>
          <td>
            <input type="text" class="form-control" ng-model="row.event_id">
          </td>
          <td>
            <input type="text" class="form-control" ng-model="row.row_price_offset_pct">
          </td>
        </tbody>
      </table>
      <span class="btn btn-primary btn-add" ng-click="homeVm.addRowEvent()">Add Section</span>
      <span class="btn btn-primary btn-add" ng-click="homeVm.rowEventSubmit()">Submit</span>
    </div>
  </section> -->
</div>
